.DS_Store
*~
.emacs-opened-files
.savehist
.saveplace
tramp
vendor/nav/.hg/
*.elc
.ensime
ac-comphist.dat
elpa/
/url/cookies
/swank/slime-eldoc-d8b3cf74.el
/swank/slime-fbbb883a.el
/swank/slime-frame-colors-a24dd450.el
/swank/slime-repl-79b38c83.el
